
$--color-red: #e75e5e;
$--color-yellow: #ffb578;
$--color-black: #131313;
$--color-gray: #252525;
$--color-white: #fefefe;

// https://external-preview.redd.it/i-made-a-web-based-todo-list-app-with-sorter-filter-and-v0-4aprpyeHlgxd0nNlqMbA6shCIbTL80NzJMgHAQBFERI.png?format=pjpg&auto=webp&s=30368b4764b948710c05cde00ed63c76d2d02e72